@page "/lagerhotell/{warehouseHotelName}"
@inject WarehouseHotelService _warehouseHotelService
@inject NavigationManager _navigationManager
@inject SessionService _sessionService

<style>
    .lagerhotell-card-header {
        background-color: rgb(89, 74, 226);
        padding: 5%;
    }

    .pt-16 {
        padding-top: 0 !important;
    }

    .my-16 {
        margin-top: 32px !important;
    }

    .mud-container {
        padding-left: 8px;
        padding-right: 8px;
    }

    .lagerhotell-header-info {
        color: white;
    }

    .lagerhotell-header-section {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
</style>

@if (isInitialized)
{
    <MudBreadcrumbs Items="BreadcrumbItems"></MudBreadcrumbs>
    <MudContainer Class="lagerhotell-header-section" Fixed="true" MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudPaper Square="true" Style="display: inline-block;" Class="lagerhotell-card-header" Elevation="0" Height="400px" Width="50%" Color="Color.Primary">
            <MudText Style="font-weight: 300;" Class="lagerhotell-header-info" Typo="Typo.h6">@relevantWarehouseHotel.Address.StreetAddress, @relevantWarehouseHotel.Address.PostalCode @relevantWarehouseHotel.Address.City</MudText>
                <MudText Style="font-weight: 500;" Typo="Typo.h4" Class="lagerhotell-header-info">Lagring ved <div></div> @warehouseHotelName</MudText>
                <MudText Style="font-weight: 300;" Typo="Typo.h6" Class="lagerhotell-header-info">Vanlige åpningstider: @OpeningTime - @ClosingTime</MudText>
            </MudPaper>
            <MudPaper Elevation="0" Style="display: inline-block;" Height="400px" Width="50%">
                <MudImage ObjectFit="ObjectFit.Cover" Elevation="25" Height="400" Src="../../Data/Bilder/lagerhotell-bilde.jpg"></MudImage>
            </MudPaper>
        </MudContainer>
}
else
{
    <MudProgressCircular Indeterminate="true" />
}

@code {
    [Parameter]
    public string? warehouseHotelName { get; set; }
    private WarehouseHotel? relevantWarehouseHotel { get; set; }
    private List<BreadcrumbItem> BreadcrumbItems { get; set; } = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Hjem", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Lagerhotell", href: null, disabled: true, icon: Icons.Material.Filled.LocationCity),
    };
    private bool isInitialized = false;
    private string OpeningTime { get; set; }
    private string ClosingTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string token = await _sessionService.GetJwtFromLocalStorage();
            relevantWarehouseHotel = await _warehouseHotelService.GetWarehouseHotelByName(warehouseHotelName, token);
            // Change href for location
            BreadcrumbItems.Add(new BreadcrumbItem(relevantWarehouseHotel.LocationName, href: null, icon: Icons.Material.Filled.MyLocation));
            BreadcrumbItems.Add(new BreadcrumbItem(relevantWarehouseHotel.Name, href: $"/lagerhotell/{relevantWarehouseHotel.Name}", icon: Icons.Material.Filled.LocationCity));
            OpeningTime = relevantWarehouseHotel.OpeningHours.Opens.ToString();
            ClosingTime = relevantWarehouseHotel.OpeningHours.Closes.ToString();
            if (OpeningTime.Length == 1)
            {
                OpeningTime = "0" + OpeningTime;
            }
            if (ClosingTime.Length == 1)
            {
                ClosingTime.Insert(0, "0");
                ClosingTime = "0" + ClosingTime;
            }
            if (OpeningTime.Length == 2 && !(relevantWarehouseHotel.OpeningHours.Opens % 1 != 0))
            {
                OpeningTime += ":00";
            }
            if (OpeningTime.Length == 2 && relevantWarehouseHotel.OpeningHours.Opens % 1 != 0)
            {
                OpeningTime += ":30";
            }
            if (OpeningTime.Length == 3 && relevantWarehouseHotel.OpeningHours.Opens % 1 != 0)
            {
                OpeningTime.Insert(0, "0");
                OpeningTime = OpeningTime.Insert(1, ":");
                OpeningTime = OpeningTime.Remove(OpeningTime.Length - 2);
                OpeningTime += "30";
            }
            if (ClosingTime.Length == 2 && !(relevantWarehouseHotel.OpeningHours.Closes % 1 != 0))
            {
                ClosingTime += ":00";
            }
            if (ClosingTime.Length == 2 && relevantWarehouseHotel.OpeningHours.Closes % 1 != 0)
            {
                ClosingTime += ":30";
            }
            if (ClosingTime.Length == 3 && relevantWarehouseHotel.OpeningHours.Closes % 1 != 0)
            {
                ClosingTime.Insert(0, "0");
                ClosingTime = ClosingTime.Insert(1, ":");
                ClosingTime = ClosingTime.Remove(ClosingTime.Length - 2);
                ClosingTime += "30";
            }
            isInitialized = true;
        }
        catch (Exception e)
        {
            Snackbar.Add($"Lagerhotell ${warehouseHotelName} kunne ikke hentes inn", MudBlazor.Severity.Error);
        }
    }
}
