@using System.Text
@using System.Text.Json
@using LagerhotellAPI.Models
@using LagerhotellAPI.Models.ValueTypes;
@inject AppState _appState

@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject OrderService _orderService

@page "/user/{userId}"

<style>
    .active-tab {
        font-weight: bold;
        background-color: #f0f0f0;
        border-left: 4px solid #6200ea;
    }

    .hover-effect {
        transition: background-color 0.3s ease;
    }

        .hover-effect:hover {
            background-color: #f0f0f0;
        }
</style>

@if (isInitialized)
{
    <AuthorizeView>
        <NotAuthorized>
            Unauthorized
        </NotAuthorized>
        <Authorized>
            <MudContainer Style="width: 100%; margin-top: 26px;">
                <MudGrid Style="justify-content: center; max-width: 1100px;">
                    <MudItem xs="12" md="3">
                        <MudPaper Elevation="1">
                            <MudList>
                                @if (activeTab == "profil")
                                {
                                    <MudListItem Class="active-tab">
                                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" style="vertical-align: middle;" />
                                        <span style="vertical-align: middle; margin-left: 8px;">Profil</span>
                                    </MudListItem>
                                }
                                else
                                {
                                    <MudListItem Style="cursor: pointer;" Class="hover-effect" @onclick='() => SetActiveTab("profil")'>
                                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" style="vertical-align: middle;" />
                                        <span style="vertical-align: middle; margin-left: 8px;">Profil</span>
                                    </MudListItem>
                                }
                                @if (activeTab == "Bestillinger")
                                {
                                    <MudListItem Class="active-tab">
                                        <MudIcon Icon="@Icons.Material.Filled.ShoppingBasket" style="vertical-align: middle;" />
                                        <span style="vertical-align: middle; margin-left: 8px;">Bestillinger</span>
                                    </MudListItem>
                                }
                                else
                                {
                                    <MudListItem Style="cursor: pointer;" Class="hover-effect" @onclick='() => SetActiveTab("Bestillinger")'>
                                        <MudIcon Icon="@Icons.Material.Filled.ShoppingBasket" style="vertical-align: middle;" />
                                        <span style="vertical-align: middle; margin-left: 8px;">Bestillinger</span>
                                    </MudListItem>
                                }
                                <AuthorizeView Roles="Administrator">
                                    <Authorized Context="n">
                                        @if (activeTab == "AdminBestillinger")
                                        {
                                            <MudListItem Class="active-tab">
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Bestillinger (Admin)</span>
                                            </MudListItem>
                                        }
                                        else
                                        {
                                            <MudListItem Style="cursor: pointer;" Class="hover-effect" @onclick='() => SetActiveTab("AdminBestillinger")'>
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Bestillinger (Admin)</span>
                                            </MudListItem>
                                        }
                                        @if (activeTab == "AdminBrukere")
                                        {
                                            <MudListItem Class="active-tab">
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Brukere (Admin)</span>
                                            </MudListItem>
                                        }
                                        else
                                        {
                                            <MudListItem Style="cursor: pointer;" Class="hover-effect" @onclick='() => SetActiveTab("AdminBrukere")'>
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Brukere (Admin)</span>
                                            </MudListItem>
                                        }
                                        @if (activeTab == "AdminBoder")
                                        {
                                            <MudListItem Class="active-tab">
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Boder (Admin)</span>
                                            </MudListItem>
                                        }
                                        else
                                        {
                                            <MudListItem Style="cursor: pointer;" Class="hover-effect" @onclick='() => SetActiveTab("AdminBoder")'>
                                                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" style="vertical-align: middle;" />
                                                <span style="vertical-align: middle; margin-left: 8px;">Boder (Admin)</span>
                                            </MudListItem>
                                        }
                                    </Authorized>
                                </AuthorizeView>

                            </MudList>
                        </MudPaper>
                    </MudItem>
                    @if (activeTab == "profil")
                    {
                        <MudItem xs="12" md="9">
                            <MudPaper Elevation="1" Class="pa-4">
                                <MudText Typo="Typo.h6">Profil</MudText>
                                <MudText Typo="Typo.subtitle1">Velkommen, @_userValues.FirstName!</MudText>
                                    <MudDivider Class="my-4" />
                                    <div class="d-flex align-items-center">
                                        @if (_userValues.FirstName != null)
                                    {
                                        <MudAvatar Color="Color.Primary" Src="path_to_image.jpg">@_userValues.FirstName.Substring(0, 1)</MudAvatar>
                                    }
                                    <div class="ml-2">
                                        <MudText Typo="Typo.subtitle1"><MudText Style=" font-weight:780; display:inline">@_userValues.FirstName</MudText> @_userValues.LastName</MudText>
                                        </div>
                                    </div>
                                    <div Style="height: 8px"></div>
                                    @if (_editMode)
                                {
                                    <MudButton Variant="Variant.Filled" @onclick=ToggleEditMode>Kanseller endringer</MudButton>
                                }
                                else
                                {
                                    <MudButton Variant="Variant.Filled" @onclick=ToggleEditMode>Endre</MudButton>
                                }
                                <div style="height:10px"></div>
                                @if (_editMode)
                                {
                                    <MudForm Model="@_userValues" @ref="_form">
                                        <MudExpansionPanels MultiExpansion="true">
                                            <MudExpansionPanel Text="Generelt">
                                                <MudTextField Label="Fornavn" @bind-Value="_userValues.FirstName" For="@(() => _userValues.FirstName)" Variant="Variant.Outlined" FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="Etternavn" @bind-Value="_userValues.LastName" For="@(() => _userValues.LastName)" Variant="Variant.Outlined" FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="Mobilnummer" ReadOnly="true" @bind-Value="_userValues.PhoneNumber" For="@(() => _userValues.PhoneNumber)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="E-post" ReadOnly="true" @bind-Value="_userValues.Email" For="@(() => _userValues.Email)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="Fødselsdato" @bind-Value="_userValues.BirthDate" For="@(() => _userValues.BirthDate)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField @bind-Value="_userValues.Password" For="@(() => _userValues.Password)" Label="Passord" Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" AdornmentAriaLabel="Show Password" />
                                                 <MudTextField @bind-Value="_userValues.PasswordRepeat" For="@(() => _userValues.PasswordRepeat)" Label="Repeter passordet ditt" Variant="Variant.Text" InputType="InputType.Password" />
                                             </MudExpansionPanel>


                                             <MudExpansionPanel Text="Bosted, Addresser">
                                                 <MudTextField Label="Adresse" @bind-Value="@_userValues.StreetAddress" For="@(() => _userValues.StreetAddress)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="Postnummer" @bind-Value="@_userValues.PostalCode" For="@(() => _userValues.PostalCode)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                                 <MudDivider Class="my-4" />
                                                 <MudTextField Label="By, Poststed" @bind-Value="@_userValues.City" For="@(() => _userValues.City)" Variant="Variant.Outlined"
                                                                    FullWidth />
                                             </MudExpansionPanel>
                                         </MudExpansionPanels>
                                         <div style="height: 8px"></div>
                                         <MudButton ButtonType="ButtonType.Button" OnClick="@((e) => SaveUserValues())" Variant="Variant.Filled" Color="Color.Primary">Lagre endringer</MudButton>
                                     </MudForm>
                                }
                                else
                                {
                                    <MudExpansionPanels MultiExpansion="true">
                                        <MudExpansionPanel Text="Generelt">
                                            <MudText Typo="Typo.subtitle2">Mobilnummer</MudText>
                                            <MudText>@_userValues.PhoneNumber</MudText>
                                                <MudDivider Class="my-4" />
                                                <MudText Typo="Typo.subtitle2">E-post</MudText>
                                                <MudText>@_userValues.Email</MudText>
                                                <MudDivider Class="my-4" />
                                                <MudText Typo="Typo.subtitle2">Fødselsdato</MudText>
                                                <MudText>@_userValues.BirthDate</MudText>
                                                <MudDivider Class="my-4" />
                                                <MudText Typo="Typo.subtitle2">Passord</MudText>
                                                <MudTextField @bind-Value="_userValues.Password" ReadOnly="true" Label="Password" Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" AdornmentAriaLabel="Show Password" />
                                            </MudExpansionPanel>
                                            <MudExpansionPanel Text="Bosted, Addresser">
                                                <MudText Typo="Typo.subtitle2">Addresse</MudText>
                                                <MudText>@_userValues.StreetAddress</MudText>
                                                <MudDivider Class="my-4" />
                                                <MudText Typo="Typo.subtitle2">Postnummer</MudText>
                                                <MudText>@_userValues.PostalCode</MudText>
                                                <MudDivider Class="my-4" />
                                                <MudText Typo="Typo.subtitle2">By, Poststed</MudText>
                                                <MudText>@_userValues.City</MudText>
                                            </MudExpansionPanel>
                                        </MudExpansionPanels>
                                }
                                <MudButton OnClick="Logout" Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10px; color: white;" EndIcon="@Icons.Material.Filled.Logout">Logg ut</MudButton>
                            </MudPaper>
                        </MudItem>
                    }
                    else if (activeTab == "Bestillinger")
                    {
                        <MudItem xs="12" md="9">
                            <MudPaper Elevation="1" Class="pa-4">
                                <UserOrders />
                            </MudPaper>
                        </MudItem>
                    }
                    else if (activeTab == "AdminBestillinger")
                    {
                        <MudItem xs="12" md="9">
                            <MudPaper Elevation="1" Class="pa-4">
                                <Lagerhotell.Pages.UserSettings.Admin.UserOrdersAdminView />
                            </MudPaper>
                        </MudItem>
                    }
                    else if (activeTab == "AdminBrukere")
                    {
                        <MudItem xs="12" md="9">
                            <MudPaper Elevation="1" Class="pa-4">
                                <Lagerhotell.Pages.UserSettings.Admin.UsersAdminView />
                            </MudPaper>
                        </MudItem>
                    }
                    else if (activeTab == "AdminBoder")
                    {
                        <MudItem xs="12" md="9">
                            <MudPaper Elevation="1" Class="pa-4">
                                <Lagerhotell.Pages.UserSettings.Admin.StorageUnitsAdminView />
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            </MudContainer>
        </Authorized>
    </AuthorizeView>
}




@inject HttpClient Http
@inject SessionService sessionService
@inject ISnackbar snackBar

@code {
    private bool isInitialized = false;
    private static readonly HttpClient client = new HttpClient();
    [Parameter] public string UserId { get; set; }
    private UserServiceUserSettings _userServiceUserSettings = new();
    private UserValues _userValues = new();
    private bool _editMode = false;
    private bool _showPassword = false;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    bool isShow;
    private MudForm _form;
    [Inject]
    protected AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    private string activeTab = "profil";

    public class UserValues
    {
        public string Id { get; set; } = string.Empty;

        [Required(ErrorMessage = "Ett fornavn er obligatorisk")]
        [StringLength(36, ErrorMessage = "Maks 36 bokstaver, minimum 2", MinimumLength = 2)]
        public string FirstName { get; set; } = string.Empty;

        [Required(ErrorMessage = "Ett etternavn er obligatorisk")]
        [StringLength(112, ErrorMessage = "Maks 112 bokstaver, minimum 2", MinimumLength = 2)]
        public string LastName { get; set; } = string.Empty;

        [UserServiceSignup.ContainsOnlyNumbers(ErrorMessage = "Telefonnummeret ditt kan bare inneholde tall")]
        [Required(ErrorMessage = "Ett telefonnummer er obligatorisk")]
        [StringLength(8, ErrorMessage = "Nummeret må være norskt, åtte siffer", MinimumLength = 8)]
        public string PhoneNumber { get; set; } = string.Empty;

        [Required(ErrorMessage = "An email is required")]
        [EmailAddress(ErrorMessage = "Invalid email format")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "En fødselsdato er obligatorisk")]
        [UserServiceSignup.IsOverLegalAge(ErrorMessage = "Du må være over 18 år")]
        public string BirthDate { get; set; } = string.Empty;

        [UserServiceSignup.ContainsNumber(ErrorMessage = "Passordet ditt må ha minst ett tall")]
        [Required(ErrorMessage = "Ett passord er obligatorisk")]
        [StringLength(48, ErrorMessage = "Maks 48 tall eller bokstaver, minimum seks", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;

        [Required(ErrorMessage = "Du må repetere passordet ditt")]
        [Compare(nameof(Password), ErrorMessage = "Passordene samstemmer ikke")]
        public string PasswordRepeat { get; set; } = string.Empty;

        [StringLength(112, ErrorMessage = "Addressen din kan være 2-112 bokstaver/tall lang")]
        [Required(ErrorMessage = "En addresse er obligatorisk")]
        [UserServiceSignup.ContainsNumbersAndLetters(ErrorMessage = "Dette feltet må inneholde bokstaver og tall")]
        public string StreetAddress { get; set; } = string.Empty;

        [Required(ErrorMessage = "Dette feltet er obligatorisk")]
        [StringLength(4, ErrorMessage = "Dette må inneholde fire siffer", MinimumLength = 4)]
        public string PostalCode { get; set; } = string.Empty;

        [Required(ErrorMessage = "Dette feltet er obligatorisk")]
        [StringLength(140, ErrorMessage = "Dette feltet må være 2-140 bokstaver langt")]
        [UserServiceSignup.ContainsOnlyLetters(ErrorMessage = "Dette feltet kan bare inneholde bokstaver")]
        public string City { get; set; } = string.Empty;

        public bool IsAdministrator { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string token = await sessionService.GetJwtFromLocalStorage();
            var user = await _userServiceUserSettings.LoadUser(client, _userValues, UserId, token);
            // Console.WriteLine(user.LastName);
            if (user != null)
            {
                _userValues.FirstName = user.FirstName;
                _userValues.LastName = user.LastName;
                _userValues.PhoneNumber = user.PhoneNumber;
                _userValues.BirthDate = user.BirthDate;
                _userValues.StreetAddress = user.StreetAddress;
                _userValues.PostalCode = user.PostalCode;
                _userValues.City = user.City;
                _userValues.Password = user.Password;
                _userValues.PasswordRepeat = user.Password;
                _userValues.IsAdministrator = user.IsAdministrator;
                _userValues.Email = user.Email;
                isInitialized = true;
            }
            else
            {
                snackBar.Add("Kunne ikke laste inn brukeren", MudBlazor.Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            // snackBar.Add("Kunne ikke laste inn brukeren" + ex, MudBlazor.Severity.Error);
        }
        StateHasChanged();
    }

    public void ToggleEditMode()
    {
        _editMode = !_editMode;
        StateHasChanged();
    }

    void TogglePasswordVisibility()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task<bool> Validate()
    {
        await _form.Validate();

        if (!_form.IsValid)
        {
            snackBar.Add("Skjemaet er ikke gyldig", MudBlazor.Severity.Error);
            return false;
        }

        return true;
    }

    public async Task? SaveUserValues()
    {
        if (await Validate())
        {
            string token = await sessionService.GetJwtFromLocalStorage();
            // The form is valid, proceed with the save operation
            await _userServiceUserSettings.UpdateUserValues(client, _userValues, token);
            // Show a success message
            snackBar.Add("Dine data ble oppdatert", MudBlazor.Severity.Success);
            ToggleEditMode();
            StateHasChanged();
        }

    }

    private async void Logout()
    {
        await sessionService.LogUserOut();
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        StateHasChanged();
        _navigationManager.NavigateTo("/");
    }

    private void SetActiveTab(string tab)
    {
        activeTab = tab;
        StateHasChanged();
    }
}
