@using System.Text
@using System.Text.Json
@using LagerhotellAPI.Models
@using Lagerhotell.Services.UserService

@page "/user/{userId}"

<MudCard Style="max-width: 500px; margin: auto; padding: 20px;">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" Style="text-align: center;">
            <MudText Typo="Typo.h5" Class="text-primary" Style="font-weight: 500;">Velkommen, @_userValues.FirstName!</MudText>
            <MudAvatar Src="profile.jpg" Size="Size.Large" Style="margin-bottom: 16px;"></MudAvatar>
        </MudItem>
        <MudItem xs="12" Style="padding: 10px;">
            <MudText Typo="Typo.h5" Style="font-weight: 500;">@_userValues.FirstName @_userValues.LastName</MudText>
            <MudText Style="font-size: 1.05rem; font-weight: 300;">Telefon: <span style="font-weight: 400;">@_userValues.PhoneNumber</span></MudText>
            <MudText Style="font-size: 1.05rem; font-weight: 300;">Fødselsdato: <span style="font-weight: 400;">@_userValues.BirthDate DD/MM/ÅÅÅÅ</span></MudText>
            <!-- Representing the Password as Hidden -->
            <MudText Style="font-size: 1.05rem; font-weight: 300;">Passord: <span style="font-weight: 400;">********</span></MudText>
        </MudItem>
    </MudGrid>
</MudCard>



@inject HttpClient Http
@code {
    private static readonly HttpClient client = new HttpClient();
    [Parameter] public string UserId { get; set; }
    private User _userValues = new User();
    private UserServiceUserSettings _userServiceUserSettings = new();

    protected override async Task OnInitializedAsync()
    {
        var user = await _userServiceUserSettings.LoadUser(client, _userValues, UserId);
        // Console.WriteLine(user.LastName);
        if (user != null)
         {
            _userValues.FirstName = user.FirstName;
            _userValues.LastName = user.LastName;
            _userValues.PhoneNumber = user.PhoneNumber;
            _userValues.BirthDate = user.BirthDate;
            _userValues.Password = user.Password;
         } else
         {
            Console.WriteLine("Error in loading user");
        }

    }
}
